{% extends "layout.html.twig" %}
{% block contenu %}
    <h2 class="text-center"> Identification du client </h2>
    {% if unClient %}
        {% block affiche %}
            <h2> Informations du client numéro {{ unClient.getId() }} </h2>
            <p> {{ unClient.getPrenomCli() }} {{ unClient.getNomCli() }} </p>
            <p> {{ unClient.getAdresseRue1Cli() }}
            {% if unClient.getAdresseRue2Cli() %}
                <p> {{ unClient.getAdresseRue2Cli() }}
            {% endif %}
            <p> {{ unClient.getCpCli() }} {{ unClient.getVilleCli() }} </p>
            <p> {{ unClient.getTelCli() }} </p>
        {% endblock %}
        {% if uneCommande %}
            <h2 class="text-center"> Liste des commandes </h2>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>idClient</th>
                    <th>Date</th>
                    <th>n°Facture</th>
                </tr>
                {% for uneCommande in commandes %}
                    <tr>
                        <td> {{ uneCommande.getId() }} </td>
                        <td> {{ uneCommande.getIdClient() }} </td>
                        <td> {{ uneCommande.getDateCde() }} </td>
                        <td> {{ uneCommande.getNoFacture() }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-danger text-center" role= pas> Ce client n'a pas de commande</div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger text-center" role="alert"> Ce client est inexistant. </div>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}